<table id="result-table" class="sortable">
    <p> Found {{ entries|length }} entries </p>

    <label for="torrent-filter">Filter Results:</label><br>
    <input type="text" id="torrent-filter" class="table-filter" data-target-table="result-table"
        placeholder="Type to filter..." onkeyup="filterTable(this)"
        style="width: 100%; padding: 8px; box-sizing: border-box;">
    <thead>
        <tr>
            <th>Torrent Name</th>
            <th>Screen Size (Inferred)</th>
            <th>Language (Inferred)</th>
            <th>SE</th>
            <th>LE</th>
            <th>Size</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in entries %}
        {% set basic_info = entry.get("Info", None) %}
        {% set metdata = entry.get("GuessedMetadata", {}) %}
        {% if basic_info %}
        <tr>
            <td>{{ basic_info.title }}</td>
            <td>{{ metdata.get("screen_size", "Unknown") }}</td>
            <td>{{ metdata.get("language", "Unknown") }}</td>
            <td>{{ entry.get("Seeders", "Unknown") }}</td>
            <td>{{ entry.get("Leechers", "Unknown") }}</td>
            <td>{{ basic_info.size_formatted }}</td>
            <td>
                {% if title in user_data.pending_requests %}
                <button disabled>Working...</button>
                {% else %}
                <button
                    onclick="onClick_torrentRequestBtn('{{basic_info.title}}', '{{ basic_info.link }}', {{ basic_info.size }}, this)">Request</button>
                {% endif %}
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>