<!DOCTYPE html>
<html>

<head>
    <title>Movie Requests</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div id="mainContent">
        <div id="userProfile"></div>
        <details>
            <summary>Show/Hide Request Statuses</summary>
            <div id="qbittorrent"></div>
        </details>

        <h2 class="ascii-heading">Create a new Request</h2>
        <select id="searchType">
            <option value="text">Search Text</option>
            <option value="magnet">Magnet Link</option>
        </select>
        <input id="searchInput" placeholder="Enter search or magnet">
        <button id="searchBtn" onclick="onClick_searchBtn(this)">Run</button>
        <span id="loading" style="display:none;">⏳ Loading...</span>
        <div id="result"></div>
    </div>

    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <script src="{{ url_for('static', filename='tablesort-5.3.0/dist/tablesort.min.js') }}"></script>
    <script src="{{ url_for('static', filename='tablesort-5.3.0/dist/sorts/tablesort.date.min.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='tablesort-5.3.0/dist/sorts/tablesort.filesize.min.js') }}"></script> -->
    <script src="{{ url_for('static', filename='tablesort-5.3.0/dist/sorts/tablesort.number.min.js') }}"></script>
    <script>
        Tablesort.extend('screensize', function (item) {
            // Match things like '720p', '1080p', etc.
            return /(\d+)p/i.test(item);
        }, function (a, b) {
            const getResolution = (str) => {
                const match = str.match(/(\d+)p/i);
                return match ? parseInt(match[1], 10) : 0;
            };

            const resA = getResolution(a);
            const resB = getResolution(b);
            if (resA === resB) return 0;
            return resA > resB ? -1 : 1;
        });
    </script>
</body>

</html>